@charset "utf-8";

::-webkit-scrollbar{
    width: 0px;
    height: 0px;}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
   background: url(../imagen/fundo-madeira.jpg) no-repeat;
}

main{  /* Conteiner de fora*/
    position: relative;
    height: 100vh;
}

section#telefone{  /* Conteiner de dentro*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    
    background: url(../imagen/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 469px;
}

section#redes-sociais{
    text-align: right; /*  Serve para centralizar 
    ou colocar na esquerda ou na direita*/
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black; /* borda*/
    box-sizing: border-box; /* box-sizing: border-box; que 
    indica que o tamanho agora levará em conta até a borda -- 
    ou seja, o width será a soma do conteúdo com a borda e o padding.*/

}

section#redes-sociais img:hover {
    border: 2px solid white; /* Cor da borda*/
    transform: translate(-7px,-7px); /* faz o efeito de subir a figura */
    box-shadow: 5px,5px,10px black; /* sombra da figura */
    transition:transform .5s ; /*e o tempo que faz a transformaçao da figura
    ou seja o tempo que levra par subir a figura */
}